language: python
python: 3.6
cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.cache/lektor/builds
install:
  - pip install Lektor
  - lektor plugins reinstall
script: "lektor build"
deploy:
  provider: script
  script: "lektor deploy ghpages"
