html {
    @media not print {
        margin-left: calc(100vw - 100%);
    }
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 1.6875em;
}
h2 {
  font-size: 1.4375em;
}
h3 {
  font-size: 1.125em;
}
h4, h5, h6 {
  font-size: 1em;
}

p {
  font-family: 'Droid Serif', serif;
}

a {
  color: #ce3817;
}

label {
  display: inline;
}

.label {
  white-space: normal;
}

select {
  width: inherit;
}

hr {
  height: 1px;
  border: 0;
  color: #eaeef1;
  background-color: #eaeef1;
  margin-top: 0.25em;
}

hr.noline {
  color: #fff;
  background-color: #fff;
  margin: 0.5em;
}

.hiddenStructure {
    display: none;
}

/* ------------------- */
/* Header & Navigation */
/* ------------------- */
#logo {
  padding: 1.1em 0;
  text-align: right;
}
#logo img {
  height: 4em;
}

#navigation .selected a {
    color: #ce3817;
  }

#navigation a {
  color: #003a63;
}

#navigation a:hover {
  color: #ce3817;
}

#navigation ul {
  list-style: none;
    margin-top: 25px;
}

#navigation ul li {
  float: left;
  margin-right: 15px;
  margin-top: 1em;
  font-weight: bold
}

/* ---------- */
/* First Band */
/* ---------- */
#banner {
  height: 280px;
}

#banner h2, #banner h3, #banner h4 {
  color: #fff;
  margin-top: 40px;
}

#banner p {
  color: #fff;
  opacity: 0.77
}

/* -------------------- */
/* Breadcrumbs & Search */
/* -------------------- */
.breadcrumbs {
  background: #fff;
  border: none;
  padding-left: 0;
  border-bottom: 1px solid #EAEEF1;
  margin-top: 9px;
}

#search {
  margin-top: 0.875em;
}

button.postfix {
  background: #f2f2f2;
  border-color: #cccccc;
  border-left: none;
  color: #333333;
}

/* ------- */
/* Content */
/* ------- */
#content {
  clear: both;
}
.actionDate {
    color: #6f6f6f;
    font-size: 0.6875em;
    margin-bottom: 0.6rem;
}

/* -------- */
/* Portlets */
/* -------- */
.vcard {
  width: 100%;
  background: #EAEEF1;
  border-color: #EAEEF1;
  padding-top: 1em;
}
.vcard .phone {
  margin-top: 1em;
  font-weight: bold
}

.vcard .zip {
    margin-right: 4px;
}

.vcard .email .icon-at {
    margin-right: 4px;
}

.portletItemDetails {
  display: block;
  color: #6f6f6f;
  font-size: 0.6875em;
}

.portletFooter {
  text-align: right
}

.blogArchivePortlet .archiveMonths {
  margin-left: 1em;
}

.blogArchivePortlet .archiveCount {
  font-weight: bold;
}

/* -------- */
/* Edit bar */
/* -------- */
#edit-bar {
  height: 30px;
}

#contentActionMenus {
  height: 27px;
  top: -1.2em;
}

#edit-bar ul, #edit-bar ol {
  list-style: none;
}

ul.contentViews li, ul#contentActionMenus li {
  display: inline;
}

/* ------ */
/* Footer */
/* ------ */
footer p {
    font-family: 'Open Sans', sans-serif;
    color: #6f6f6f;
}


/* ------- */
/* Twitter */
/* ------- */
.portletTwitterPortlet .tweetUsername,
.portletTwitterPortlet .tweetSeparator {
    display: none;
}

/* ---------- */
/* Responsive */
/* ---------- */
@media only screen and (max-width: 767px) {
  #logo {
    text-align: left;
    border-bottom: 1px solid #EAEEF1;
  }

  #navigation ul {
    list-style: none;
    margin-top: 5px;
  }

  #banner {
    background-position: 400px 0
  }
  #banner div {
    max-width: 400px;
  }

  #content img.tileImage {
    max-height: 75px;
    max-width: 75px;
  }

  #content div.newsImageContainer {
    float: none;
  }
  #content div.newsImageContainer img {
    display: block;
  }

}

#search-filter-toggle {
  display: none !important;
}

#searchResultsSort {
  margin-top: 15px;
}

.documentDescription, .description  {
  line-height: 1.4;
  color: #555;
  margin-top: 0.2em;
  margin-bottom: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125em;
}

.description {
    margin-bottom: 1em;
    font-size: inherit;
}

#content ul, #content ol {
    font-family: 'Droid Serif', serif;
    margin-left: 1.5em;
}

#content ul {
  list-style: square;
}

#content ul.clearing-thumbs {
  list-style: none;
}

.portletNews, .portletTwitterPortlet {
  border-bottom: 1px solid #eaeef1;
}

.portletNavigationTree ul {
  list-style: none
}

.portletNavigationTree ul.navTreeLevel0 > li {
  border-bottom: 1px solid #eaeef1;
  padding: 5px 0;
}

.portletNavigationTree a, .blogArchivePortlet a {
  color: #6f6f6f;
}

.navTreeCurrentNode {
  color: #3c4f60;
}

.tileItem {
  border-bottom: 1px solid #eaeef1;
  margin-bottom: 20px;
}

.tileHeadline {
  font-size: 1.125em;
}

.tileHeadline a {
  color: #222;
}

.tileFooter {
    font-family: 'Open Sans', sans-serif;
    text-transform: lowercase;
}

.portletHeader a {
  color: #222;
}

.blogListingEntry {
  border-top: 1px solid #eaeef1;
  margin-top: 1.5rem;
  padding-top: 1.8rem;
  padding-bottom: 1.5rem;
}

.blogListingEntry img {
    margin-right: 1.5rem;
}

.blogListingEntry h2 a {
  color: #222;
}

.blogListingEntry .tileFooter {
  display: block;
  color: #6f6f6f;
  font-size: 0.6875em;
}

div.listingBar {
    font-size: 1em;
}

div.listingBar a {
  display: inline-block;
  padding: 0.25em 0.5em;
  border: none;
}

div.listingBar a:hover {
  background:  #ce3817;
}

.pagination.listingBar {
    margin-top: 1.5rem;
    border-top: 1px solid #eaeef1;
    padding-top: 1.5rem;
}

#banner h4 {
  font-size: 1.4375em;
}

fieldset ul {
  font-family: 'Open Sans', sans-serif !important;
}

fieldset {
  border-color: #eaeef1;
}

#search-results-number {
  font-size: 220%;
}

#search-results {
  padding-left: 0;
}

#search-results dd {
  border-bottom: 1px solid #eaeef1;
}

#search-results dd cite {
  color: #6f6f6f;
  font-size: 0.6875em;
}

.newsImageContainer p.discreet {
  margin-top: 10px;
  border-top: 1px solid #eaeef1;
  padding-top: 6px;
  font-family: 'Open Sans', sans-serif;
}

#content a {
  word-wrap: break-word;
}

#content h1 {
  text-overflow: ellipsis;
  overflow: hidden;
}

#disqus-count {
  display: none;
}


/* ------- */
/* Search */
/* ------- */
#tipue_search_content
{
     max-width: 650px;
	padding-top: 15px;
	margin: 0;
}
#tipue_search_warning
{
     font: 300 15px/1.6 'Droid Serif', sans-serif;
	color: #555;
	margin: 7px 0;
}
#tipue_search_warning a
{
     text-decoration: none;
}
#tipue_search_warning a:hover
{
     color: #555;
}
#tipue_search_results_count
{
     font: 300 15px/1.7 'Droid Serif', sans-serif;
	color: #555;
}
.tipue_search_content_title
{
     font: 300 21px/1.7 'Droid Serif', sans-serif;
	margin-top: 23px;
}
.tipue_search_content_title a
{
     color: #333;
     text-decoration: none;
}
.tipue_search_content_title a:hover
{
     color: #555;
}
.tipue_search_content_url
{
     font: 300 14px/1.9 'Droid Serif', sans-serif;
     word-wrap: break-word;
     hyphens: auto;
}
.tipue_search_content_url a
{
     text-decoration: none;
}
.tipue_search_content_url a:hover
{
     color: #555;
}
.tipue_search_content_text
{
     font: 300 15px/1.6 'Droid Serif', sans-serif;
	color: #555;
     word-wrap: break-word;
     hyphens: auto;
     margin-top: 3px;
}
.tipue_search_content_debug
{
     font: 300 13px/1.6 'Droid Serif', sans-serif;
	color: #555;
     margin: 5px 0;
}
.h01
{
     color: #333;
     font-weight: 400;
}

#tipue_search_foot
{
     margin: 51px 0 21px 0;
}
#tipue_search_foot_boxes
{
	padding: 0;
	margin: 0;
     font: 12px 'Droid Serif', sans-serif;
}
#tipue_search_foot_boxes li
{
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
}
#tipue_search_foot_boxes li a
{
	padding: 10px 17px 11px 17px;
     background-color: #fff;
     border: 1px solid #e2e2e2;
     border-radius: 1px;
	color: #333;
	margin-right: 7px;
	text-decoration: none;
	text-align: center;
}
#tipue_search_foot_boxes li.current
{
	padding: 10px 17px 11px 17px;
     background: #f6f6f6;
     border: 1px solid #e2e2e2;
     border-radius: 1px;
	color: #333;
	margin-right: 7px;
	text-align: center;
}
#tipue_search_foot_boxes li a:hover
{
     background: #f6f6f6;
}

.tipue_search_spinner
{
     padding: 31px 0;
     width: 50px;
     height: 28px;
}
.tipue_search_spinner > div
{
     background-color: #777;
     height: 100%;
     width: 3px;
     display: inline-block;
     margin-right: 2px;
     -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
     animation: stretchdelay 1.2s infinite ease-in-out;
}
.tipue_search_spinner .tipue_search_rect2
{
     -webkit-animation-delay: -1.1s;
     animation-delay: -1.1s;
}
.tipue_search_spinner .tipue_search_rect3
{
     -webkit-animation-delay: -1.0s;
     animation-delay: -1.0s;
}
@-webkit-keyframes stretchdelay
{
     0%, 40%, 100%
     {
          -webkit-transform: scaleY(0.4)
     }
     20%
     {
          -webkit-transform: scaleY(1.0)
     }
}
@keyframes stretchdelay
{
     0%, 40%, 100%
     {
          transform: scaleY(0.4);
          -webkit-transform: scaleY(0.4);
     }
     20%
     {
          transform: scaleY(1.0);
          -webkit-transform: scaleY(1.0);
     }
}

/* ---------- */
/* Pagination */
/* ---------- */
ul.pagination {
    font-size: 13px;
    height: initial;
    margin-top: 1.6rem;
}

ul.pagination li.current {
    padding: 10px 17px 11px 17px;
    background: #f6f6f6;
    border: 1px solid #e2e2e2;
    border-radius: 1px;
    color: #333;
    margin-right: 7px;
    text-align: center;
    height: initial;
}
ul.pagination li.ellipsis {
    padding: 10px 17px 11px 17px;
    border: 1px solid #e2e2e2;
    border-radius: 1px;
    color: #333;
    margin-right: 7px;
    text-align: center;
    height: initial;
}
ul.pagination li a {
    padding: 10px 17px 11px 17px;
    border: 1px solid #e2e2e2;
    border-radius: 1px;
    color: #333;
    margin-right: 7px;
    text-align: center;
    height: initial;
    font-family: 'Open Sans', sans-serif;
}
ul.pagination li a:hover {
    background: #f6f6f6;
}


/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
