body {
    font-family: 'Fira Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    -ms-hyphens: manual;
    -webkit-hyphens: manual;
    hyphens: manual;
}

h3 {margin-top: 1.75rem;}

h4 {
    font-weight: 500;
}

a {
    color: #0077C8;
}

p {font-size: 1.1rem;}

p img {
    margin-top: 20px;
}

.main-content ul, .main-content ol  {font-size: 1.1rem;}

.header {
    margin: 20px 0
}

.contact {
    margin-left: 30px;
    font-weight: bold;
    border-left: 1px solid #6A778B;
}

.contact a {
    color: #41B6E6 !important;
    font-weight: bold !important;
}

.title-bar-right a {
    border-left: 1px solid #6A778B;
    padding-left: 20px;
}

.top-bar, .top-bar .menu {
    background-color: inherit;
}

.top-bar-left .menu li a {
    color: #6A778B
}

.menu li a:hover {
    color: #41B6E6;
}

.menu li.active a {
    color: #41B6E6;
}

.menu .active>a {
    background: transparent
}

.top-bar .input-group {
    margin-bottom: 0
}

.top-bar input {
    margin-right: 0
}

.top {
    background: #002641;
    color: #fff
}

.title-bar {
    background: #002641;
    height: 60px;
}

.title-bar a {
    margin-left: 15px;
    color: #6A778B;
    font-weight: normal;
}

.top a {
    color: #fff
}

#logo {
    width: 226px;

}

#hero h1 {
    font-weight: 500;
    line-height: 1.15;
}

#splash {
    margin-top: 30px;
    background: url('../../static/img/brain.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 60px;
}

.intro {
    margin-bottom: 40px;
}

.intro h3 {
    margin-bottom: 20px;
}

#square {
    background: #004B87;
    padding: 40px;
    color: #fff;
    border-radius: 2px;
    min-height: 450px;
}

#square a {
    color: #41B6E6
}

#square h3 {
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 0;
}

#square p {
    line-height: 1.88889;
    font-size: 110%;
}

.subheading {
    color: #6A778B;
}

.discreet {
    color: #6A778B;
}

#solutions {
    background: #F7FAFC;
    margin-top: 40px;
    padding-top: 30px;
}

#notebook {
    background: #F7FAFC;
    margin: 40px 0;
}

#solutions .card {
    padding: 40px 50px 20px 50px;
    text-align: center;
}


#solutions .card h5 {
    margin-top: 10px;
    border-top: 1px solid #fff;
    padding-top: 25px;
}

#solutions .card h5 a {
    color: #fff;
}

#platform {
    margin-top: 40px;
}

#platform h5 {
    font-weight: 500;
}

#customers {
    margin: 30px 0;
    background: #F7FAFC;
    padding: 40px 0;
}

#customers .card {
    padding: 15px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

footer {
    padding: 40px 0;
    margin-top: 70px;
    background: #002641;
    min-height: 200px;
}

footer h4, footer h5 {
    color: #fff;
}

footer p {
    color: #6A778B;
}

footer ul {
    list-style: none;
    margin: 0;
    color: #6A778B;
    font-size: 110%;
}

footer .button {
    margin-top: 20px;
}

#copyright {
    margin-top: 20px;
    color: #6A778B;
}

.listing {
    margin-bottom: 50px;
}

.listing h3 {
    margin-bottom: 40px;
}

.team .card {
    background: #004B87;
    border: none;
    color: #fff;
}

.team i {
    margin-right: 8px;
}

.team .card .card-section {
    padding: 30px;
}

.team a {
    color: #41B6E6
}

img.full{
    margin: 50px 0;
}

article .h2,
.listingEntry .h4,
.tipue_search_content_url {
    margin-top: 2em;
    margin-bottom: 0;
}

#tipue_search_foot {
    margin-top: 3em;
}

.main-content h1:first-child {
    margin-top: 40px;
}

.lead {
    font-size: 150%;
    font-weight: 400;
    margin-bottom: 40px;
    color: #6a778b
}

.subnavigation {
    margin-top: 30px;
}

.subnavigation li {
    border-top: 1px solid #e6e6e6;
    padding: 10px 0;
    font-weight: bold;
}

.pager {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination li {font-size: 110%;}

.listing .card {
    margin-bottom: 30px;
}

.image-band {
    background: #F7FAFC;
    margin: 40px 0;
}

.image-band.padded {
    padding: 30px 0;
}

.fas, .fab, .far {
    width: 30px;
}

.project p {
    display: inline
}

.card-head {
    height: 180px;
    overflow: hidden;
    background: #F7FAFC;
}
.card-head.padded {
    padding: 15px;
}

@media screen and (max-width: 39.9375em) {
    .header {text-align: center}
    .top-bar input {max-width: initial}
    .menu {display: block}
    .contact {border-left: none; margin-left: 0px; padding-right: 10px}
    #square {
        margin: 130px 0 0px 0;
        min-height: auto;
    }
    .lead {font-size: 125%}
    p {font-size: inherit;}
    .main-content ul, .main-content ol {font-size: inherit;}
}

.top-bar .input-group-field {
    min-width: 120px;
}

#swissmadesoftware {
    width: 180px;
    margin-bottom: 30px;
}

iframe {
    margin: 30px 0;
}
