{% macro render_pagination(pagination) %}
    {% if pagination.has_prev or pagination.has_next %}
    <div class="pager">
        <nav aria-label="Pagination">
            <ul class="pagination">
                {% if pagination.has_prev %}
                    <li class="pagination-previous"><a href="{{ pagination.prev|url }}">Vorherige</a></li>
                {% else %}
                    <li class="pagination-previous disabled">Vorherige</li>
                {% endif %}

                {%- for page in pagination.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
                    {% if page %}
                        {% if page != pagination.page %}
                            <li><a href="{{ pagination.for_page(page)|url }}">{{ page }}</a></li>
                        {% else %}
                            <li class="current" aria-label="Seite {{ page }}">{{ page }}</li>
                        {% endif %}
                    {% else %}
                        <li class="ellipsis" aria-hidden="true"></li>
                    {% endif %}
                {%- endfor %}

                {% if pagination.has_next %}
                    <li class="pagination-next"><a href="{{ pagination.next|url }}">Nächste</a></li>
                {% else %}
                    <li class="pagination-next disabled">Nächste</li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
{% endmacro %}
