{% macro render_team() %}
    <div class="listing team">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="large-10 large-offset-1 medium-9 medium-offset-1 cell">
                    <h4><small>Wir machen es möglich</small></h4>
                    <h3>Unser Team</h3>
                </div>
            </div>
            <div class="grid-x grid-padding-x" data-equalizer data-equalize-on="medium">
                <div class="large-5 large-offset-1 medium-6 cell">
                    <div class="card">
                        <img src="{{ '/static/img/team/Fabian-Reinhard.jpg'|url }}" alt="Fabian Reinhard">
                        <div class="card-section" data-equalizer-watch>
                            <h4>Fabian Reinhard</h4>
                            <p>M A UZH</p>
                            <p><strong>Managing Partner<br />
                                Solution Architect</strong>
                            </p>
                            <p class="bio">Fabian studierte Politikwissenschaften, VWL und Allgemeines Staatsrecht an der <a href="http://www.uzh.ch">Universität Zürich</a> und hat sich an der <a href="http://www.harvard.edu">Harvard University</a> weitergebildet. Er engagiert sich politisch als Mitglied des Stadtparlamentes und als Parteipräsident in der Stadt Luzern.</p>
                            <p>
                                <ul>
                                    <li>Hermes 5 Foundation</li>
                                    <li>ITIL V3 Foundation</li>
                                </ul>
                            <p>
                                <a href="mailto:fabian.reinhard@seantis.ch"><i class="far fa-envelope"></i>fabian.reinhard@seantis.ch<br /></a>
                                <a href="https://www.seantis.ch/portrait/pgp-keys/fabian-reinhard.asc"><i class="fas fa-key"></i>PGP Public Key</a><br />
                                <a href="https://github.com/freinhard"><i class="fab fa-github"></i>Github</a><br />
                                <a href="https://www.linkedin.com/in/fabian-reinhard/"><i class="fab fa-linkedin"></i>Keybase</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="large-5 medium-6 cell">
                    <div class="card">
                        <img src="{{ '/static/img/team/Tobias-Reinhard.jpg'|url }}" alt="Tobias Reinhard">
                        <div class="card-section" data-equalizer-watch>
                            <h4>Dr. Tobias Reinhard</h4>
                            <p>dipl. inform. UZH</p>
                            <p><strong>Partner<br />
                                Software Engineer</strong>
                            </p>
                            <p class="bio">Tobias studierte Informatik an der <a href="http://www.uzh.ch">Universität Zürich</a> und promovierte ebenda im Bereich Requirements Engineering. Er ist verantwortlich für die Bereiche technische Spezifikation sowie Entwicklung. Tobias ist der Kopf hinter unserer Plattform <a href="http://www.healthdata.ai">HealthData.ai</a>. Tobias programmiert selbst, weil es für ihn keine Theorie ohne Praxis und vice versa geben kann.
                            <p>
                                <a href="mailto:tobias.reinhard@seantis.ch"><i class="far fa-envelope"></i>tobias.reinhard@seantis.ch<br /></a>
                                <a href="https://www.seantis.ch/portrait/pgp-keys/tobias-reinhard.asc"><i class="fas fa-key"></i>PGP Public Key</a><br />
                                <a href="https://github.com/treinhard"><i class="fab fa-github"></i>Github</a><br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-padding-x" data-equalizer data-equalize-on="medium">
                <div class="large-5 medium-6 cell large-offset-1">
                    <div class="card">
                        <img src="{{ '/static/img/team/Patrick-Bucher.jpg'|url }}" alt="Patrick Bucher">
                        <div class="card-section" data-equalizer-watch>
                            <h4>Patrick Bucher</h4>
                            <p>BSc Hochschule Luzern/FHZ</p>
                            <p><strong>Software Engineer</strong></p>
                            <p class="bio">Patrick hat eine Lehre als Informatiker (Applikationsentwicklung) absolviert und an der <a href="https://www.hslu.ch/de-ch/informatik/">Hochschule Luzern</a> Informatik studiert. Dank konsequentem Einsatz von DevOps Tools orchestriert und administiert Patrick eine Flotte von mehr als 60 Servern. In seiner Freizeit befasst sich Patrick gerne mit Fremdsprachen, verschiedener Lektüre und ist oft auf Spaziergängen in den Luzerner Wäldern anzutreffen.</p>
                            <p>
                                <a href="mailto:patrick.bucher@seantis.ch"><i class="far fa-envelope"></i>patrick.bucher@seantis.ch<br /></a>
                                <a href="https://www.seantis.ch/portrait/pgp-keys/patrick-bucher.asc"><i class="fas fa-key"></i>PGP Public Key</a><br />
                                <a href="https://github.com/patrickbucher"><i class="fab fa-github"></i>Github</a><br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="large-5 medium-6 cell">
                    <div class="card">
                        <img src="{{ '/static/img/team/David-Salvisberg.jpg'|url }}" alt="David Salvisberg">
                        <div class="card-section" data-equalizer-watch>
                            <h4>David Salvisberg</h4>
                            <p>BSc ETH</p>
                            <p><strong>Software Engineer</strong></p>
                            <p class="bio">David hat einen Bachelor of Science in Elektrotechnik und Informationstechnologie von der <a href="http://www.ethz.ch">ETH Zürich</a>. Er arbeitete an einem Spital in der Medizininformatik und ist bestens vertraut mit *nix Systemen. Python war für ihn Liebe auf den ersten Blick. David hat viele Jahre Gaming Foren und Portale entwickelt und betreut. Er ist entsprechend hobbymässing als Gamer aktiv.</p>
                            <p>
                                <a href="mailto:david.salvisberg@seantis.ch"><i class="far fa-envelope"></i>david.salvisberg@seantis.ch<br /></a>
                                <a href="https://github.com/Daverball"><i class="fab fa-github"></i>Github</a><br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-padding-x" data-equalizer data-equalize-on="medium">
                <div class="large-5 medium-6 cell large-offset-1">
                    <div class="card">
                        <img src="{{ '/static/img/team/Marc-Sommerhalder.jpg'|url }}" alt="Marc Sommerhalder">
                        <div class="card-section" data-equalizer-watch>
                            <h4>Marc Sommerhalder</h4>
                            <p>dipl. Ing. FH, B A</p>
                            <p><strong>Software Engineer</strong></p>
                            <p class="bio">Marc studierte Elektrotechnik an der <a href="https://www.zhaw.ch">Zürcher Hochschule für Angewandte Wissenschaften (ZHAW)</a>, Kulturwissenschaften an der <a href="https://www.unilu.ch">Universität Luzern</a> und ist nun an der <a href="https://www.ost.ch/">Ostschweizer Fachhochschule</a> im Unterricht im Bereich Simulation und Experimentieren / Evaluieren involviert. In seiner Freizeit illustriert er Kinderbücher rund um Schweinchen Hannes.
                            </p>
                            <p>
                                <a href="mailto:marc.sommerhalder@seantis.ch"><i class="far fa-envelope"></i>marc.sommerhalder@seantis.ch<br /></a>
                                <a href="https://www.seantis.ch/portrait/pgp-keys/marc-sommerhalder.asc"><i class="fas fa-key"></i>PGP Public Key</a><br />
                                <a href="https://github.com/msom"><i class="fab fa-github"></i>Github</a><br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="large-5 medium-6 cell">
                    <div class="card">
                        <img src="{{ '/static/img/team/Person.jpg'|url }}" alt="Ernst Bühler">
                        <div class="card-section" data-equalizer-watch>
                            <h4>Ernst Bühler</h4>
                            <p><strong>Kundenberater OneGov Cloud</strong></p>
                            <p class="bio">Ernst ist seit über 30 Jahren überzeugter Gemeindeschreiber. Er kennt die Organisation, Bedürfnisse und Anliegen der Gemeinden, ob überschaubare Landgemeinde, Agglomerationsgemeinde oder Stadt mit Parlament. Er gibt Kurse für Gemeindefachleute, die Protokolle führen oder Behördenanträge schreiben und erklärt Nicht-Finanzleuten das HRM2. In seiner Freizeit trifft man ihn zuhause im naturnahen Garten, im Rebberg, beim Lesen eines guten Buches, radelnd oder wandernd in der Natur.</p>
                            <p>
                                <a href="mailto:ernst.buehler@seantis.ch"><i class="far fa-envelope"></i>ernst.buehler@seantis.ch<br /></a>
                                <a href="tel:+41792710633"><i class="fas fa-phone"></i>+41 79 271 06 33</a><br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-padding-x" data-equalizer data-equalize-on="medium">
                <div class="large-5 medium-6 cell large-offset-1">
                    <div class="card">
                        <img src="{{ '/static/img/team/Person.jpg'|url }}" alt="Kevin Lötscher">
                        <div class="card-section" data-equalizer-watch>
                            <h4>Kevin Lötscher</h4>
                            <p>Gymnasiale Maturität</p>
                            <p><strong>Praktikant</strong></p>
                            <p class="bio"> Kevin schloss seine Matura an der <a href="https://ksreussbuehl.lu.ch">Kantonsschule Reussbühl</a> ab und besuchte anschliessend das Parawork des <a href="https://www.paraplegie.ch/spz/de">Schweizer Paraplegiker Zentrums</a>. Seine Freizeit verbringt er üblicherweise mit Zeichnen, Spaziergängen oder Videospielen.
                            </p>
                            <p>
                                <a href="mailto:kevin.loetscher@seantis.ch"><i class="far fa-envelope"></i>kevin.loetscher@seantis.ch<br /></a>
                                <a href="https://github.com/KevinG1thub"><i class="fab fa-github"></i>Github</a><br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
