{% macro render_team() %}
    <div class="listing team">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="large-10 large-offset-1 medium-9 medium-offset-1 cell">
                    <h4><small>Wir machen es möglich</small></h4>
                    <h3>Unser Team</h3>
                </div>
            </div>
            <div class="grid-x grid-padding-x" data-equalizer data-equalize-on="medium">
                <div class="large-5 large-offset-1 medium-6 cell">
                    <div class="card">
                        <img src="{{ '/static/img/team/Fabian-Reinhard.jpg'|url }}" alt="Fabian Reinhard">
                        <div class="card-section" data-equalizer-watch>
                            <h4>Fabian Reinhard</h4>
                            <p>M A UZH</p>
                            <p><strong>Managing Partner<br />
                                Solution Architect</strong>
                            </p>
                            <p class="bio">Fabian studierte Politikwissenschaften, VWL und Allgemeines Staatsrecht an der <a href="http://www.uzh.ch">Universität Zürich</a> und hat sich an der <a href="http://www.harvard.edu">Harvard University</a> weitergebildet. Er engagiert sich politisch als Mitglied des Stadtparlamentes und als Parteipräsident in der Stadt Luzern.</p>
                            <p>
                                <ul>
                                    <li>Hermes 5 Foundation</li>
                                    <li>ITIL V3 Foundation</li>
                                </ul>
                            <p>
                                <a href="mailto:fabian.reinhard@seantis.ch"><i class="far fa-envelope"></i>fabian.reinhard@seantis.ch<br /></a>
                                <a href="https://www.seantis.ch/portrait/pgp-keys/58C1BF15.asc"><i class="fas fa-key"></i>PGP Public Key</a><br />
                                <a href="https://github.com/freinhard"><i class="fab fa-github"></i>Github</a><br />
                                <a href="https://keybase.io/freinhard"><i class="fab fa-keybase"></i>Keybase</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="large-5 medium-6 cell">
                    <div class="card">
                        <img src="{{ '/static/img/team/Tobias-Reinhard.jpg'|url }}" alt="Tobias Reinhard">
                        <div class="card-section" data-equalizer-watch>
                            <h4>Dr. Tobias Reinhard</h4>
                            <p>dipl. inform. UZH</p>
                            <p><strong>Partner<br />
                                Software Engineer</strong>
                            </p>
                            <p class="bio">Tobias studierte Informatik an der <a href="http://www.uzh.ch">Universität Zürich</a> und promovierte ebenda im Bereich Requirements Engineering. Er ist verantwortlich für die Bereiche technische Spezifikation sowie Entwicklung. Tobias ist der Kopf hinter unserer Plattform <a href="http://www.healthdata.ai">HealthData.ai</a>. Tobias programmiert selbst, weil es für ihn keine Theorie ohne Praxis und vice versa geben kann.
                            <p>
                                <a href="mailto:tobias.reinhard@seantis.ch"><i class="far fa-envelope"></i>tobias.reinhard@seantis.ch<br /></a>
                                <a href="https://www.seantis.ch/portrait/pgp-keys/BDFA49D2.asc"><i class="fas fa-key"></i>PGP Public Key</a><br />
                                <a href="https://github.com/treinhard"><i class="fab fa-github"></i>Github</a><br />
                                <a href="https://keybase.io/treinhard"><i class="fab fa-keybase"></i>Keybase</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-padding-x" data-equalizer data-equalize-on="medium">
                <div class="large-5 medium-6 cell large-offset-1">
                    <div class="card">
                        <img src="{{ '/static/img/team/Patrick-Bucher.jpg'|url }}" alt="Patrick Bucher">
                        <div class="card-section" data-equalizer-watch>
                            <h4>Patrick Bucher</h4>
                            <p>BSc Hochschule Luzern/FHZ</p>
                            <p><strong>Software Engineer</strong></p>
                            <p class="bio">Patrick hat eine Lehre als Informatiker (Applikationsentwicklung) absolviert und an der <a href="https://www.hslu.ch/de-ch/informatik/">Hochschule Luzern</a> Informatik studiert. Dank konsequentem Einsatz von DevOps Tools orchestriert und administiert Patrick eine Flotte von mehr als 60 Servern. In seiner Freizeit befasst sich Patrick gerne mit Fremdsprachen, verschiedener Lektüre und ist oft auf Spaziergängen in den Luzerner Wäldern anzutreffen.</p>
                            <p>
                                <a href="mailto:patrick.bucher@seantis.ch"><i class="far fa-envelope"></i>patrick.bucher@seantis.ch<br /></a>
                                <a href="https://github.com/patrickbucher"><i class="fab fa-github"></i>Github</a><br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="large-5 medium-6 cell">
                    <div class="card">
                        <img src="{{ '/static/img/team/Lukas-Burkhard.jpg'|url }}" alt="Lukas Burkhard">
                        <div class="card-section" data-equalizer-watch>
                            <h4>Lukas Burkhard</h4>
                            <p>M.Sc.</p>
                            <p><strong>Software Engineer</strong></p>
                            <p class="bio">Lukas hat einen Bachelor in Erdwissenschaften an der <a href="http://www.ethz.ch">ETH Zürich</a> und einen Master in Hydrogeologie und Geothermie an der <a href="https://www.unine.ch">Universität Neuenburg</a>. Als studierter Naturwissenschaftler kombiniert er Kreativität mit analytischem Denken und einer Faszination für die Technik. Lukas hat früher sein Geld als Velokurier verdient und ist immer noch gerne mit dem Velo unterwegs.</p>
                            <p>
                                <a href="mailto:lukas.burkhard@seantis.ch"><i class="far fa-envelope"></i>lukas.burkhard@seantis.ch<br /></a>
                                <a href="https://github.com/DadaDaMotha"><i class="fab fa-github"></i>Github</a><br />
                                <a href="https://gitlab.com/pony_m"><i class="fab fa-gitlab"></i>Gitlab</a><br />
                                <a href="https://keybase.io/dadadamotha"><i class="fab fa-keybase"></i>Keybase</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-x grid-padding-x" data-equalizer data-equalize-on="medium">
                <div class="large-5 medium-6 cell large-offset-1">
                    <div class="card">
                        <img src="{{ '/static/img/team/David-Salvisberg.jpg'|url }}" alt="David Salvisberg">
                        <div class="card-section" data-equalizer-watch>
                            <h4>David Salvisberg</h4>
                            <p>BSc ETH</p>
                            <p><strong>Software Engineer</strong></p>
                            <p class="bio">David hat einen Bachelor of Science in Elektrotechnik und Informationstechnologie von der <a href="http://www.ethz.ch">ETH Zürich</a>. Er arbeitete an einem Spital in der Medizininformatik und ist bestens vertraut mit *nix Systemen. Python war für ihn Liebe auf den ersten Blick. David hat viele Jahre Gaming Foren und Portale entwickelt und betreut. Er ist entsprechend hobbymässing als Gamer aktiv.</p>
                            <p>
                                <a href="mailto:david.salvisberg@seantis.ch"><i class="far fa-envelope"></i>david.salvisberg@seantis.ch<br /></a>
                                <a href="https://github.com/Daverball"><i class="fab fa-github"></i>Github</a><br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
