{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block content %}
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="large-9 large-offset-1 cell">
                <h1>{{ this.title }}</h1>
                <p class="lead">{{ this.description }}</p>
                {% for child in this.pagination.items %}
                    <div class="listingEntry">
                        <div class="h4"><small>{{ child.pub_date|dateformat }}</small></div>
                        <h2 class="h3"><a href="{{ child|url }}">{{ child.title }}</a></h2>
                        <p>{{ child.description }}</p>
                        {{ child.body }}
                    </div>
                {% endfor %}
                {{ render_pagination(this.pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
