{% extends "layout.html" %}
{% block content %}

        <div id="hero" data-aos="fade-up">
            <div class="grid-container">
                <div id="splash">
                    <div class="grid-x grid-margin-x">
                        <div class="large-5 large-offset-6 medium-offset-5 medium-6 cell">
                            <div id="square">
                                <h3>Softwareentwicklung ist unser Handwerk</h3>
                                <p>Wir suchen Menschen mit vielfältigen Talenten zur Verstärkung unseres Teams.</p>
                                <p><a href="{{ '/portrait/agile-softwareentwicklung/'|url }}">&rarr; Unsere Methodik</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="grid-container">
                <div class="grid-x grid-margin-x">
                    <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                        <div class="intro">
                            <h1>Wir suchen Verstärkung</h1>
                            <h3>Spontanbewerbung</h3>
                            <p>Gerne kannst du deine Spontanbewerbung an <a href="mailto:fabian.reinhard@seantis.ch">fabian.reinhard@seantis.ch</a> senden.</p>
                            <h3>Agiles Mindset - Open Source Toolset</h3>
                            <p>Wir entwicklen qualitativ hochstehende Software. Dazu setzen wir auf die besten Open Source Entwickler-Tools und arbeiten gemäss Agiler Methodik.</p>
                            <p><a href="{{ '/portrait/agile-softwareentwicklung/'|url }}">&rarr; mehr erfahren</a></p>
                        </div>
                        <div id="open-positions">
                          {% for item in site.query('/news').filter(F.tags.contains('job')).include_hidden(false).all() %}
                              {% if item %}
                                <div class="large-7 medium-10 cell">
                                    <div class="card" data-equalizer-watch>
                                        <div class="card-section">
                                            <h5 class="subheader"><small>{{ item.pub_date|dateformat }}</small></h5>
                                            <h4>{{ item.title }}</h4>
                                            <p>{{ item.description }}</p>
                                            <a href="{{ item|url }}">&rarr; mehr erfahren</a>
                                        </div>
                                    </div>
                                </div>
                              {% endif %}
                          {% endfor %}
                        </div>

                        <div class="direct-contact">
                            <div class="grid-x grid-margin-x">
                                <div class="large-6 medium-6 small-7 cell">
                                    <h3>Ansprechpartner</h3>
                                    <h5>Fabian Reinhard</h5>
                                    <p>Managing Partner</p>
                                    <p><i class="far fa-envelope"></i> <a href="mailto:fabian.reinhard@seantis.ch">fabian.reinhard@seantis.ch</a><br />
                                    <i class="fas fa-phone"></i> +41 41 511 22 50</p>
                                </div>
                                <div class="large-6 medium-6 small-5 cell">
                                    <div class="dotted">
                                        <img class="full" src="{{ '/static/img/team/Fabian-Reinhard.jpg'|url }}" alt="Fabian Reinhard">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if this.attachments.images %}
                {% set image = this.attachments.images.first() %}
                {% if image.path.endswith('mood.jpg') %}

                <div class="grid-x grid-padding-x" data-aos="fade-up">
                    <div class="cell">
                        <div class="dotted">
                            <img class="full" src="{{ 'mood.jpg'|url }}" alt="Office Luzern">
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}

            </div>
        </div>

{% endblock %}
