{% extends "layout.html" %}
{% block content %}

    <div class="main-content">

        <div class="head">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                        <h1>{{ this.title }}</h1>
                        <p class="lead">{{ this.description }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="listing">
            <div class="grid-container">
                <div class="grid-x grid-padding-x" data-equalizer data-equalize-on="medium">
                      {% for item in site.query('/news').filter(F.tags.contains('job')).include_hidden(false).all() %}
                          {% if item %}
                            <div class="large-7 large-offset-1 medium-10  medium-offset-1 cell">
                                <div class="card" data-equalizer-watch>
                                    <div class="card-section">
                                        <h5 class="subheader"><small>{{ item.pub_date|dateformat }}</small></h5>
                                        <h4>{{ item.title }}</h4>
                                        <p>{{ item.description }}</p>
                                        <a href="{{ item|url }}">&rarr; mehr erfahren</a>
                                    </div>
                                </div>
                            </div>
                          {% endif %}
                      {% endfor %}
                      <div class="large-7 large-offset-1 medium-10  medium-offset-1 cell">

                        <h4>Deine Spontanbewerbung</h4>
                        <p>Gerne kannst du deine Spontanbewerbung an <a href="mailto:fabian.reinhard@seantis.ch">fabian.reinhard@seantis.ch</a> senden.</p>

                        <h4>Agiles Mindset - Open Source Toolset</h4>
                        <p>Wir entwicklen qualitativ hochstehende Software. Dazu setzen wir auf die besten Open Source Entwickler-Tools und arbeiten gemäss Agiler Methodik.</p>
                        <p><a href="{{ '/portrait/agile-softwareentwicklung/'|url }}">&rarr; mehr erfahren</a></p>
                      </div>
                </div>

                <div class="grid-x grid-padding-x" data-aos="fade-up">
                    <div class="cell">
                        <div class="dotted">
                            <img class="full" src="{{ '/static/img/team/office.jpg'|url }}" alt="Team">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}
