{% extends "layout.html" %}
{% from "macros/team.html" import render_team %}
{% block content %}

    <div id="hero" data-aos="fade-up">
        <div class="grid-container">
            <div id="splash">
                <div class="grid-x grid-margin-x">
                    <div class="large-5 large-offset-6 medium-offset-5 medium-6 cell">
                        <div id="square">
                            <h3>Daten werden komplexer. Unsere Lösungen bleiben einfach.</h3>
                            <p>Für die medizinische Forschung nutzen wir Deep Learning zum Scoring von Röntgenbildern.</p>
                            <p><a href="{{ '/success-stories/deep-learning-xray'|url }}">&rarr; Projekt DeepXray</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                    <div class="intro">
                        <h1>Data Driven Web Applications</h1>
                        <p>Wir entwickeln Webapplikationen für die <a href="http://www.healthdata.ai">medizinische Forschung</a>, <a href="http://www.onegovcloud.ch">die öffentliche Verwaltung</a> sowie für die <a href="http://www.mycontrol.aero">Aviatik</a>.</p>
                        <p>Bei unseren Projekten geht es um die Verarbeitung und Aufbereitung komplexer Daten. Wir sorgen für die einfache und korrekte Erfassung der Daten, deren statistische Auswertung und Visualisierung.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="solutions">
            <div class="listing team products" data-aos="fade-up">
                <div class="grid-container">
                    <div class="grid-x grid-padding-x" data-equalizer data-equalize-on="small">
                        <div class="large-4 medium-4 cell">
                            <a href="http://www.healthdata.ai">
                                <div class="card" data-equalizer-watch>
                                    <img src="{{ '/static/img/healthdata.svg'|url }}" alt="HealthData.ai">
                                    <div class="card-section">
                                        <h5>Medical Research in Practice</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="large-4 medium-4 cell">
                            <a href="http://www.onegovcloud.ch">
                                <div class="card" data-equalizer-watch>
                                    <img src="{{ '/static/img/onegovcloud.svg'|url }}" alt="OneGov Cloud">
                                    <div class="card-section">
                                        <h5>Smart Government Platform</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="large-4 medium-4 cell">
                            <a href="http://www.mycontrol.aero">
                                <div class="card" data-equalizer-watch>
                                    <img src="{{ '/static/img/mycontrol.svg'|url }}" alt="myControl.aero">
                                    <div class="card-section">
                                        <h5>Pilot Logbook in the Cloud</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="platform">
            <div class="grid-container">

                <div class="grid-x grid-padding-x">
                    <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                        <h4><small>Agile Mindset - Open Source Toolset</small></h4>
                        <h3>Softwareentwicklung mit hohem Qualitätsanspruch nach Agiler Methodik</h3>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                        <p>Wir arbeiten seit mehr als zehn Jahren mit Open Source Software und sind aktiv in mehreren Open Source Communities. Mit Open Source verbinden wir mehr als einfach «Gratis-Software». Der Ansatz entspringt vielmehr einer Geisteshaltung und damit verbundenen Idealen auf dem Weg zu besseren IT-Lösungen. Wir entwicklen qualitativ hochstehende Software. Dazu setzen wir auf die besten Open Source Entwickler-Tools und arbeiten gemäss Agiler Methodik.</p>
                        <p>Für unsere Webapplikationen durften wir <a href="{{ '/portrait/awards'|url }}">Preise und Auszeichnungen</a> entgegennehmen.</p>

                    </div>
                </div>
                <div class="grid-x grid-padding-x" data-aos="fade-up">
                    <div class="cell">
                        <div class="dotted">
                            <img class="full" src="{{ '/static/img/team/office.jpg'|url }}" alt="Team">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="customers">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                        <div class="intro">
                            <h4><small>Gemeinsam zum Erfolg</small></h4>
                            <h3>Überzeugende Lösungen &ndash; erfolgreiche Kunden</h3>
                            <p>Der Kunde steht immer im Zentrum. Mit unseren langjährigen Kunden pflegen wir offene und vertrauensvolle Beziehungen.</p>
                            <p><a href="{{ '/portrait'|url }}">&rarr; mehr erfahren</a></p>
                        </div>
                    </div>
                </div>

                <div class="grid-x grid-padding-x">
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.usz.ch"><img src="{{ '/static/img/customers/usz.png'|url }}" alt="UniversitätsSpital Zürich"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.chuv.ch"><img src="{{ '/static/img/customers/chuv.png'|url }}" alt="Centre hospitalier universitaire vaudois"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.hug-ge.ch"><img src="{{ '/static/img/customers/hug.png'|url }}" alt="Hôpitaux Universitaires Gèneve"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.msd.ch"><img src="{{ '/static/img/customers/msd.svg'|url }}" alt="MSD"></a>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.zg.ch"><img src="{{ '/static/img/customers/zg.svg'|url }}" alt="Kanton Zug"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.gr.ch"><img src="{{ '/static/img/customers/gr.svg'|url }}" alt="Kanton Graubünden"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.sg.ch"><img src="{{ '/static/img/customers/sg.svg'|url }}" alt="Kanton St.Gallen"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.sz.ch"><img src="{{ '/static/img/customers/sz.svg'|url }}" alt="Kanton Schwyz"></a>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.ar.ch"><img src="{{ '/static/img/customers/ar.svg'|url }}" alt="Kanton Appenzell Ausserrhoden"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://stadt.winterthur.ch"><img src="{{ '/static/img/customers/winterthur.svg'|url }}" alt="Stadt Winterthur"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.rueti.ch"><img src="{{ '/static/img/customers/rueti.svg'|url }}" alt="Gemeinde Rüti ZH"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.ebikon.ch"><img src="{{ '/static/img/customers/ebikon.png'|url }}" alt="Gemeinde Ebikon"></a>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.baar.ch"><img src="{{ '/static/img/customers/baar.png'|url }}" alt="Gemeinde Baar"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.musikschule-rontal.ch"><img src="{{ '/static/img/customers/musikschule-rontal.svg'|url }}" alt="Musikschule Rontal"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.ilo.org"><img src="{{ '/static/img/customers/ilo.png'|url }}" alt="International Labour Organization"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.swisshelicopter.ch"><img src="{{ '/static/img/customers/swisshelicopter.svg'|url }}" alt="Swiss Helicopter"></a>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.projuventute.ch"><img src="{{ '/static/img/customers/pro-juventute.svg'|url }}" alt="Pro Juventute"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.scqm.ch"><img src="{{ '/static/img/customers/scqm.svg'|url }}" alt="Swiss Clinical Quality Management in Rheumatic Diseases"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.concordia.ch"><img src="{{ '/static/img/customers/concordia.svg'|url }}" alt="Concordia"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.mt.com"><img src="{{ '/static/img/customers/mt.svg'|url }}" alt="Mettler Toledo"></a>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.nzz-libro.ch"><img src="{{ '/static/img/customers/nzz-libro.jpg'|url }}" alt="NZZ Libro"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.duerrenaesch.ch"><img src="{{ '/static/img/customers/duerrenaesch.svg'|url }}" alt="Gemeinde Dürrenäsch"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.thun.ch"><img src="{{ '/static/img/customers/thun.png'|url }}" alt="Stadt Thun"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.unibe.ch"><img src="{{ '/static/img/customers/universitaet-bern.svg'|url }}" alt="Univesität Bern"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="listing">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="large-5 large-offset-1 medium-10 medium-offset-1 cell">
                        <div class="intro">
                            <h4><small>Lösungen, die einfach funktionieren</small></h4>
                            <h3>Erfolgsgeschichten</h3>
                            <p>Gemeinsam mit unseren Kunden schreiben wir seit mehr als zehn Jahren Erfolgsgeschichten mit Software.</p>
                            <p><a href="{{ '/success-stories'|url }}">&rarr; mehr erfahren</a></p>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x" data-equalizer data-equalize-on="medium">
                    {% for child in site.get('/success-stories').children.filter(F.frontpage==True).order_by('-pub_date') %}
                        <div class="large-4 medium-6 cell">
                            <div class="card" data-equalizer-watch>
                                {% set image = child.attachments.images.first() %}
                                <div class="card-head {{ 'padded'  if image.path.endswith('.png') else '' }}">
                                    <img src="{{ image.thumbnail(600)|url }}" alt="{{ child.title }}">
                                </div>
                                <div class="card-section">
                                    <h4>{{ child.title }}</h4>
                                    <p>{{ child.description }}</p>
                                    <a href="{{ child|url }}">&rarr; mehr erfahren</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="award">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                        <h4><small>Preisgekrönte Plattform</small></h4>
                        <h3>Best of Swiss Web</h3>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                        <p>Zusammen mit unserer Partnerfirma <a href="http://www.netcetera.ch">Netcetera</a> haben wir im Auftrag der <a href="http://www.projuventute.ch">Stiftung Pro Juventute</a> die Plattform <a href="http://feriennet.projuventute.ch">Feriennet</a> entwickelt. Ferienaktivitäten für Kinder können mit der Plattform einfach geplant, koordiniert, und abgewickelt werden. Das bedeutet viel Freude für die Kinder und weniger Stress für deren Eltern während den Schulferien. Auch die Jury des <a href="http://www.bestofswissweb.ch">Best of Swiss Web</a> Award hat diese clevere Planungs- und Buchungsplattform im April 2019 honoriert: Feriennet gewinnt Silber in der Kategorie Public Affairs.</p>
                        <p><a href="{{ '/news/pro-juventute-feriennet-best-of-swiss-web/'|url }}">&rarr; mehr erfahren</a></p>
                    </div>
                </div>
                <div class="grid-x grid-padding-x" data-aos="fade-up">
                    <div class="cell">
                        <div class="dotted">
                            <img class="full" src="{{ '/static/img/bosw.jpg'|url }}" alt="Best of Swiss Web 2019">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
