{% extends "layout.html" %}
{% from "macros/team.html" import render_team %}
{% block content %}

    <div id="hero">
        <div class="grid-container">
            <div id="splash" class="storybox-1" style="display:none;">
                <div class="grid-x grid-margin-x">
                    <div class="large-5 large-offset-6 medium-offset-5 medium-6 cell">
                        <div id="square">
                            <h3>Daten werden komplexer. Unsere Lösungen bleiben einfach.</h3>
                            <p>Für die medizinische Forschung nutzen wir Deep Learning zum Scoring von Röntgenbildern.</p>
                            <p><a href="{{ '/success-stories/deep-learning-xray'|url }}">&rarr; Projekt DeepXray</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="splash" class="storybox-2" style="display:none;">
                <div class="grid-x grid-margin-x">
                    <div class="large-5 large-offset-6 medium-offset-5 medium-6 cell">
                        <div id="square">
                            <h3>Ein digitaler Konfigurator für die Pilatus Flugzeugwerke</h3>
                            <p>Im Auftrag der Pilatus Aircraft hat seantis einen digitalen Konfigurator für den PC-24 Businessjet entwickelt.</p>
                            <p><a href="{{ '/success-stories/aircraft-configurator-pilatus'|url }}">&rarr; Erfolgsgeschichte Pilatus Aircraft</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="splash" class="storybox-3" style="display:none;">
                <div class="grid-x grid-margin-x">
                    <div class="large-5 large-offset-6 medium-offset-5 medium-6 cell">
                        <div id="square">
                            <h3>Wir entwickeln Software im Herzen der Schweiz</h3>
                            <p>Du hast eine ganz neue digitale Produktidee oder planst ein digitales Startup. Gemeinsam konzeptioniern und realisieren wir einen Prototype um deine Geschäftsidee unter realen Bedingungen zu testen.</p>
                            <p><a href="{{ '/startup'|url }}">&rarr; Agile Softwareentwicklung</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="splash" class="storybox-4" style="display:none;">
                <div class="grid-x grid-margin-x">
                    <div class="large-5 large-offset-6 medium-offset-5 medium-6 cell">
                        <div id="square">
                            <h3>Cloud für die öffentliche Verwaltung 🇨🇭</h3>
                            <p>Alle reden von Digitalisierung. admin.digital ist die sichere und vertrauenswürdige Open Source Cloud Plattform für Schweizer Kantone und Gemeinden.</p>
                            <p><a href="https://www.admin.digital">&rarr; admin.digital</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                    <div class="intro">
                        <h1>Data Driven Web Applications</h1>
                        <p>Wir entwickeln Webapplikationen für die <a href="http://www.healthdata.ai">medizinische Forschung</a>, <a href="https://www.admin.digital">die öffentliche Verwaltung</a> sowie für die <a href="http://www.mycontrol.aero">Aviatik</a>.</p>
                        <p>Bei unseren Projekten geht es um die Verarbeitung und Aufbereitung komplexer Daten. Wir sorgen für die einfache und korrekte Erfassung der Daten, deren statistische Auswertung und Visualisierung.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="solutions">
            <div class="listing team products" data-aos="fade-up">
                <div class="grid-container">
                    <div class="grid-x grid-padding-x" data-equalizer data-equalize-on="small">
                        <div class="large-4 medium-4 cell" id="healthdata">
                            <a href="http://www.healthdata.ai">
                                <div class="card" data-equalizer-watch>
                                    <img src="{{ '/static/img/healthdata.svg'|url }}" alt="HealthData.ai">
                                    <div class="card-section">
                                        <h5>Medical Research in Practice</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="large-4 medium-4 cell" id="admindigital">
                            <a href="https://www.admin.digital">
                                <div class="card" data-equalizer-watch>
                                    <img src="{{ '/static/img/admin-digital.svg'|url }}" alt="admin.digital">
                                    <div class="card-section">
                                        <h5>Smart Government Platform</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="large-4 medium-4 cell" id="mycontrol">
                            <a href="http://www.mycontrol.aero">
                                <div class="card" data-equalizer-watch>
                                    <img src="{{ '/static/img/mycontrol.svg'|url }}" alt="myControl.aero">
                                    <div class="card-section">
                                        <h5>Pilot Logbook in the Cloud</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="platform">
            <div class="grid-container">

                <div class="grid-x grid-padding-x">
                    <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                        <h4><small>Agile Mindset - Open Source Toolset</small></h4>
                        <h3>Softwareentwicklung mit hohem Qualitätsanspruch nach Agiler Methodik</h3>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                        <p>Wir entwickeln qualitativ hochstehende Software. Dazu setzen wir auf die besten Open Source Entwickler-Tools und arbeiten gemäss Agiler Methodik.</p>
                        <p>Du hast eine ganz neue digitale Produktidee oder planst ein digitales Startup. Gemeinsam konzeptioniern und realisieren wir einen Prototype um deine Geschäftsidee unter realen Bedingungen zu testen.</p>
                        <p><a href="{{ '/startup'|url }}">&rarr; mehr erfahren</a></p>
                    </div>
                </div>
                <div class="grid-x grid-padding-x" data-aos="fade-up">
                    <div class="cell">
                        <div class="dotted">
                            <img class="full" src="{{ '/static/img/team/office.jpg'|url }}" alt="Team">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="customers">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                        <div class="intro">
                            <h4><small>Gemeinsam zum Erfolg</small></h4>
                            <h3>Überzeugende Lösungen &ndash; erfolgreiche Kunden</h3>
                            <p>Der Kunde steht immer im Zentrum. Mit unseren langjährigen Kunden pflegen wir offene und vertrauensvolle Beziehungen.</p>
                            <p><a href="{{ '/portrait'|url }}">&rarr; mehr erfahren</a></p>
                        </div>
                    </div>
                </div>

                <div class="grid-x grid-padding-x">
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.usz.ch"><img src="{{ '/static/img/customers/usz.png'|url }}" alt="UniversitätsSpital Zürich"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.chuv.ch"><img src="{{ '/static/img/customers/chuv.png'|url }}" alt="Centre hospitalier universitaire vaudois"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="https://www.hug.ch"><img src="{{ '/static/img/customers/hug.png'|url }}" alt="Hôpitaux Universitaires Gèneve"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.msd.ch"><img src="{{ '/static/img/customers/msd.svg'|url }}" alt="MSD"></a>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.zg.ch"><img src="{{ '/static/img/customers/zg.svg'|url }}" alt="Kanton Zug"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.gr.ch"><img src="{{ '/static/img/customers/gr.svg'|url }}" alt="Kanton Graubünden"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.sg.ch"><img src="{{ '/static/img/customers/sg.svg'|url }}" alt="Kanton St.Gallen"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.sz.ch"><img src="{{ '/static/img/customers/sz.svg'|url }}" alt="Kanton Schwyz"></a>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.lu.ch"><img src="{{ '/static/img/customers/lu.svg'|url }}" alt="Kanton Luzern"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.ai.ch"><img src="{{ '/static/img/customers/ai.svg'|url }}" alt="Kanton Appenzell Innerrhoden"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.gl.ch"><img src="{{ '/static/img/customers/gl.svg'|url }}" alt="Kanton Glarus"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.sh.ch"><img src="{{ '/static/img/customers/sh.svg'|url }}" alt="Kanton Schaffhausen"></a>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.ar.ch"><img src="{{ '/static/img/customers/ar.svg'|url }}" alt="Kanton Appenzell Ausserrhoden"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.bs.ch"><img src="{{ '/static/img/customers/bs.png'|url }}" alt="Kanton Basel-Stadt"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="https://www.baselland.ch"><img src="{{ '/static/img/customers/bl.svg'|url }}" alt="Kanton Basel-Landschaft"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://stadt.winterthur.ch"><img src="{{ '/static/img/customers/winterthur.svg'|url }}" alt="Stadt Winterthur"></a>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.baar.ch"><img src="{{ '/static/img/customers/baar.png'|url }}" alt="Gemeinde Baar"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="https://www.geistlich-pharma.com"><img src="{{ '/static/img/customers/geistlich-pharma.jpg'|url }}" alt="Geistlich Pharma"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.ilo.org"><img src="{{ '/static/img/customers/ilo.png'|url }}" alt="International Labour Organization"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.ottenbach.ch"><img src="{{ '/static/img/customers/ottenbach.png'|url }}" alt="Gemeinde Ottenbach"></a>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.projuventute.ch"><img src="{{ '/static/img/customers/pro-juventute.svg'|url }}" alt="Pro Juventute"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.scqm.ch"><img src="{{ '/static/img/customers/scqm.svg'|url }}" alt="Swiss Clinical Quality Management in Rheumatic Diseases"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.ibdnet.ch"><img src="{{ '/static/img/customers/ibdnet.svg'|url }}" alt="IBDnet"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.mt.com"><img src="{{ '/static/img/customers/mt.svg'|url }}" alt="Mettler Toledo"></a>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.ebikon.ch"><img src="{{ '/static/img/customers/ebikon.png'|url }}" alt="Gemeinde Ebikon"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.duerrenaesch.ch"><img src="{{ '/static/img/customers/duerrenaesch.svg'|url }}" alt="Gemeinde Dürrenäsch"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.ssipm.ch"><img src="{{ '/static/img/customers/ssipm.png'|url }}" alt="SSIPM"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.neuenkirch.ch"><img src="{{ '/static/img/customers/neuenkirch.svg'|url }}" alt="Gemeinde Neuenkirch"></a>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.unibe.ch"><img src="{{ '/static/img/customers/universitaet-bern.svg'|url }}" alt="Univesität Bern"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.concordia.ch"><img src="{{ '/static/img/customers/concordia.svg'|url }}" alt="Concordia"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.nokera.com"><img src="{{ '/static/img/customers/nokera.svg'|url }}" alt="NOKERA"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href="http://www.pilatus-aircraft.com"><img src="{{ '/static/img/customers/pilatus.svg'|url }}" alt="Pilatus Aircraft"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="listing">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="large-5 large-offset-1 medium-10 medium-offset-1 cell">
                        <div class="intro">
                            <h4><small>Lösungen, die einfach funktionieren</small></h4>
                            <h3>Erfolgsgeschichten</h3>
                            <p>Gemeinsam mit unseren Kunden schreiben wir seit mehr als zehn Jahren Erfolgsgeschichten mit Software.</p>
                            <p><a href="{{ '/success-stories'|url }}">&rarr; mehr erfahren</a></p>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x" data-equalizer data-equalize-on="medium">
                    {% for child in site.get('/success-stories').children.filter(F.frontpage==True).order_by('-pub_date') %}
                        <div class="large-4 medium-6 cell">
                            <div class="card" data-equalizer-watch>
                                {% set image = child.attachments.images.first() %}
                                <div class="card-head {{ 'padded'  if image.path.endswith('.png') else '' }}">
                                    <a href="{{ child|url }}">
                                        <img src="{{ image.thumbnail(600)|url }}" alt="{{ child.title }}">
                                    </a>
                                </div>
                                <div class="card-section">
                                    <h4>{{ child.title }}</h4>
                                    <p>{{ child.description }}</p>
                                    <a href="{{ child|url }}">&rarr; mehr erfahren</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="award">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                        <h4><small>Preisgekrönte Plattformen</small></h4>
                        <h3>Auszeichnungen</h3>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                        <p>Für die von uns entwickelten Lösungen durften wir zahlreiche Preise und Auszeichnungen entgegennehmen. Aber wir sammeln keine Awards, sondern das positive Feedback der User unserer Plattformen sowie unserer Kunden. </p>
                        <p><a href="{{ '/portrait/awards'|url }}">&rarr; mehr erfahren</a></p>
                    </div>
                </div>
                <div class="grid-x grid-padding-x" data-aos="fade-up">
                    <div class="cell">
                        <div class="dotted">
                            <img class="full" src="{{ '/static/img/bosw.jpg'|url }}" alt="Best of Swiss Web 2019">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
