{% extends "layout.html" %}
{% from "macros/team.html" import render_team %}
{% block content %}

    <div class="main-content">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="large-5 large-offset-1 cell">
                    <div id="intro">
                        <h1>Data Driven Web Applications</h1>
                        <p>Wir entwickeln Webapplikationen für die <a href="">medizinische Forschung</a>, <a href="">die öffentliche Verwaltung</a> sowie für die <a href="">Aviatik</a>.</p>
                        <p>Bei unseren Projekten geht es um die Verarbeitung und Aufbereitung komplexer Daten. Wir sorgen für die einfache und korrekte Erfassung der Daten, deren statistische Auswertung und Visualisierung.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="solution">
            <div class="grid-container">
                <div class="grid-x grid-padding-x align-center">
                    <div class="large-7 large-offset-1 cell">
                        <h4><small>HealthData.ai</small></h4>
                        <h3>Bridging the gap between clinical practice and medical research</h3>
                        <p><a href="">&rarr; mehr erfahren</a>
                    </div>
                    <div class="large-9 cell">
                        <img src="{{ '/static/img/notebook.png'|url }}" alt="OCQMS">
                    </div>
                </div>
            </div>
        </div>

        <div id="platform">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="large-7 large-offset-1 cell">
                        <h4><small>Agile Mindset - Open Source Toolset</small></h4>
                        <h3>Softwareentwicklung mit hohem Qualitätsanspruch nach Agiler Methodik</h3>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-7 large-offset-1 cell">
                        <p>Wir arbeiten seit mehr als zehn Jahren mit Open Source Software und sind aktiv in mehreren Open Source Communities. Mit Open Source verbinden wir mehr als einfach «Gratis-Software». Der Ansatz entspringt vielmehr einer Geisteshaltung und damit verbundenen Idealen auf dem Weg zu besseren IT-Lösungen. Wir entwicklen qualitativ hochstehende Software. Dazu setzen wir auf die besten Open Source Entwickler-Tools und arbeiten gemäss Agiler Methodik.</p>
                        <p>Für unsere Webapplikationen durften wir <a href="">Preise und Auszeichnungen</a> entgegennehmen.</p>

                    </div>
                </div>
            </div>

            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="cell">
                        <img class="full" src="{{ '/static/img/team/team.jpg'|url }}" alt="Team">
                    </div>
                </div>
            </div>
        </div>


        <div class="listing">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="large-5 cell">
                        <h4><small>Gemeinsam zum Erfolg</small></h4>
                        <h3>Erfolgsgeschichten</h3>
                    </div>
                </div>
                <div class="grid-x grid-padding-x" data-equalizer data-equalize-on="medium">
                    {% for child in site.get('/success-stories').children.filter(F.frontpage==True).order_by('sort_key') %}
                        <div class="large-4 cell">
                            <div class="card" data-equalizer-watch>
                                <div class="card-head">
                                    <img src="{{ child.attachments.images.first().thumbnail(600)|url }}" alt="{{ child.title }}">
                                </div>
                                <div class="card-section">
                                    <h4>{{ child.title }}</h4>
                                    <p>{{ child.description }}</p>
                                    <a href="{{ child|url }}">&rarr; mehr erfahren</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="customers">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="large-6 large-offset-1 cell">
                        <div class="intro">
                            <h4><small>Gemeinsam zum Erfolg</small></h4>
                            <h3>Erfolgreiche Lösungen - zufriedene Kunden</h3>
                            <p>Der Kunde steht immer im Zentrum. Mit unseren langjährigen Kunden pflegen wir offene und vertrauensvolle Beziehungen.</p>
                            <p><a href="">&rarr; mehr erfahren</a></p>
                        </div>
                    </div>
                </div>

                <div class="grid-x grid-padding-x">
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/usz.png'|url }}" alt="UniversitätsSpital Zürich"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/chuv.png'|url }}" alt="Centre hospitalier universitaire vaudois"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/hug.png'|url }}" alt="Hôpitaux Universitaires Gèneve"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/scqm.svg'|url }}" alt="Swiss Clinical Quality Management in Rheumatic Diseases"></a>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/zg.svg'|url }}" alt="Kanton Zug"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/gr.svg'|url }}" alt="Kanton Graubünden"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/sg.svg'|url }}" alt="Kanton St.Gallen"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/sz.svg'|url }}" alt="Kanton Schwyz"></a>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/winterthur.svg'|url }}" alt="Stadt Winterthur"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/duerrenaesch.svg'|url }}" alt="Gemeinde Dürrenäsch"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/rueti.svg'|url }}" alt="Gemeinde Rüti ZH"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/ebikon.png'|url }}" alt="Gemeinde Ebikon"></a>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/baar.png'|url }}" alt="Gemeinde Baar"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/musikschule-rontal.svg'|url }}" alt="Musikschule Rontal"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/ilo.png'|url }}" alt="International Labour Organization"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/swisshelicopter.svg'|url }}" alt="Swiss Helicopter"></a>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/pro-juventute.svg'|url }}" alt="Pro Juventute"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/msd.svg'|url }}" alt="MSD"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/concordia.svg'|url }}" alt="Concordia"></a>
                        </div>
                    </div>
                    <div class="large-3 small-6 medium-3 cell">
                        <div class="card">
                            <a href=""><img src="{{ '/static/img/customers/mt.svg'|url }}" alt="Mettler Toledo"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ render_team() }}

    </div>
{% endblock %}
