<!doctype html>
<html class="no-js" lang="de" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}seantis gmbh{% endblock %}</title>
    <link rel="stylesheet" href="{{ '/static/css/foundation.min.css'|url }} ">
    <link rel="stylesheet" href="{{ '/static/css/fira.css'|url }} ">
    <link rel="stylesheet" href="{{ '/static/css/fontawesome.min.css'|url }} ">
    <link rel="stylesheet" href="{{ '/static/css/custom.css'|url }} ">
</head>

<body>
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium" style="display:none">
        <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
        <div class="title-bar-title"> <a href="{{ '/'|url }}">Home</a></div>
        <div class="title-bar-right contact"><a href="{{ '/contact'|url }}">Kontakt</a></div>
    </div>

    <div class="top" id="responsive-menu" style="display:none">
        <div class="grid-container">
            <div class="top-bar">
              <div class="top-bar-left">
                  <ul class="menu hide-for-small-only">
                      <li><a href="{{ '/'|url }}">Home</a></li>
                  </ul>
              </div>
              <div class="top-bar-right">
                  <ul class="menu" data-dropdown-menu>
                      <li><a href="{{ '/portrait'|url }}">Über uns</a></li>
                      <li><a href="{{ '/engineering'|url }}">Engineering</a></li>
                      <li><a href="{{ '/services'|url }}">Services</a></li>
                      <li><a href="{{ '/success-stories'|url }}">Erfolgsgeschichten</a></li>
                      <li><a href="{{ '/news'|url }}">News</a></li>
                      <li><a href="{{ '/blog'|url }}">Blog</a></li>
                      <li class="contact"><a href="{{ '/contact'|url }}">Kontakt</a></li>
                  </ul>
              </div>
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="header">
            <div class="top-bar">
                <div class="top-bar-left">
                    <a href="{{ '/'|url }}"><img id="logo" src="{{ '/static/img/logo.svg'|url }}" alt="Zur Startseite"/></a>
                </div>
                <div class="top-bar-right">
                    <form action="{{ '/search'|url }}">
                        <div class="input-group show-for-medium">
                            <input class="input-group-field" type="search" name="q" id="tipue_search_input">
                            <div class="input-group-button">
                                <input type="submit" class="button" value="Suche">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="hero">
        <div class="grid-container">
            <div id="splash">
                <div class="grid-x grid-margin-x">
                    <div class="large-5 large-offset-6 cell">
                        <div id="square">
                            <h3>Daten werden komplexer. Unsere Lösungen bleiben einfach.</h3>
                            <p>Für die medizinische Forschung nutzen wir Deep Learning zum Scoring von Röntgenbildern.</p>
                            <p><a href="#">&rarr; Projekt DeepXray</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}

    <footer>
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="large-7 large-offset-1 cell">
                    <h4>Building data-driven web applications with an open-source toolset and an agile mindset</h4>
                    <p>Wir entwicklen qualitativ hochstehende Software. Dazu setzen wir auf die besten Open Source Entwickler-Tools und arbeiten gemäss Agiler Methodik.</p>
                </div>
                <div class="large-4 cell">
                    <h5>Cloud Platform</h5>
                    <ul>
                        <li><a href="http://www.healthdata.ai">HealthData.ai</a></li>
                        <li><a href="http://www.onegovcloud.ch">OneGov Cloud</a></li>
                        <li><a href="http://www.mycontrol.aero">myControl.aero</a></li>
                    </ul>
                    <a class="button" href="{{ '/contact'|url }}">Kontakt</a>
                </div>
            </div>

            <div class="grid-x grid-padding-x">
                <div class="large-10 large-offset-1 cell">
                    <div id="copyright">© 2005 - {{ None|dateformat('yyyy') }} by seantis gmbh | Lektor powered & built with Python</div>
                </div>
            </div>

        </div>
    </footer>

    <script src="{{ '/static/js/jquery.min.js'|url }}"></script>
    <script src="{{ '/static/js/what-input.min.js'|url }}"></script>
    <script src="{{ '/static/js/foundation.min.js'|url }}"></script>
    <script src="{{ '/static/js/tipuesearch_set.js'|url }}"></script>
    <script src="{{ '/static/js/tipuesearch.min.js'|url }}"></script>
    <script src="{{ '/static/js/app.js'|url }}"></script>

    <script>
        $(document).foundation();

        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//stats.seantis.ch/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '15']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();

        {% block scripts %}{% endblock %}
    </script>
</body>
</html>
