{% extends "layout.html" %}
{% block content %}

    <div id="hero">
        <div class="grid-container">
            <div id="splash">
                <div class="grid-x grid-margin-x">
                    <div class="large-5 large-offset-6 cell">
                        <div id="square">
                            <h1>{{ this.title }}</h1>
                            <p class="lead">{{ this.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="large-7 large-offset-1 cell">
                <div class="main-content">
                    <p class="lead"></p3>
                    {{ this.body }}
                    {% if this.children %}
                        <div class="subnavigation">
                            <ul class="vertical menu">
                                {% for child in this.children if not child.hidden %}
                                    {% if not child.hidden %}
                                        <li><a href="{{ child.path }}">{{ child.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}
