{% extends "layout.html" %}
{% from "macros/team.html" import render_team %}
{% block content %}

    <div class="main-content">

        <div class="head">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                        <h1>Portrait</h1>
                        <p class="lead">
                                Softwareentwicklung ist unser Handwerk.
                                Wir entwickeln Webapplikationen nach der Methodik
                                der Agilen Softwareentwicklung.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="large-7 large-offset-1 medium-9 medium-offset-1 cell">
                    <p>
                        Offen für neue Herausforderungen suchen wir in enger
                        Zusammenarbeit mit unseren Kunden neue Wege. Möglich
                        macht dies ein vielseitiges Team mit breitem Know-how
                        und mehr als zehn Jahren Erfahrung in der Entwicklung
                        von Webapplikationen und Internetservices. Für unsere
                        Webapplikationen durften wir
                        <a href="{{ '/portrait/awards'|url }}">Preise und Auszeichnungen</a>
                        entgegennehmen.
                    </p>
                    <p>
                        Agile ist für uns ein Mindset. 
                        <a href="{{ '/portrait/agile-softwareentwicklung'|url }}">Agile als Grundeinstellung</a>
                        prägt unser Denken und Handeln. Hypothesen für neue
                        Geschäftsideen und neuste Technologien testen wir mit
                        unseren <a href="{{ '/portrait/ventures'|url }}">Ventures</a>.
                    </p>
                    <p>
                        Ein direkter Draht zur Universität Zürich eröffnet uns
                        den Zugang zu einem grossen Pool an Know-how. Unser
                        Antrieb sind interessante Projekte, welche unsere
                        Kunden und uns selbst weiterbringen. Mit unseren
                        langjährigen Kunden pflegen wir offene und
                        vertrauensvolle Beziehungen.
                    </p>
                    <p>
                        Wir entwickeln Webapplikationen mit den besten 
                        <a href="{{ '/portrait/open-mind-open-source'|url }}">Open Source (Web-)Technologien</a>.
                        Unseren Mitarbeitenden («Hackers») bieten wir ein
                        optimales Arbeitsumfeld: «<a href="{{ '/blog/we-support-the-hacker-pledge'|url }}">We support the Hacker Pledge</a>»
                </div>
            </div>
        </div>

        {{ render_team() }}

        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                    <h3 id="publications">Publikationen und Artikel</h3>
                    <ul>
                        <li>Reinhard Fabian: <a href="https://www.weka.ch/management/unternehmensfuehrung/newsletter-verwaltungsrat.html">Strategien im Umgang mit Cyber-Risiken</a>, Newsletter Verwaltungsrat 2024/5</li>
                        <li>Reinhard Fabian: <a href="https://oss-studie.ch/assets/pdfs/OSS-Studie2021.pdf">Offenes Publikationsportal für Wahl- und Abstimmungsdaten</a>, Praxisbeispiel Source Studie Schweiz 2021</li>
                        <li>Reinhard Fabian: <a href="https://www.inside-it.ch/de/post/die-andere-sicht-vertrauen-in-e-voting-ist-mehr-als-ein-verschluesselungsprotokoll-20201221">Die andere Sicht: Vertrauen in E-Voting ist mehr als ein Verschlüs­selungs­protokoll</a>, Inside IT, 21. Dezember 2020</li>
                        <li>Reinhard Fabian: <a href="https://www.nzz.ch/schweiz/der-digitale-gegenangriff-ist-keine-gute-verteidigungsstrategie-ld.1568757">Der digitale Gegenangriff ist keine brauchbare Strategie für die Cyber-Verteidigung</a>, Neue Zürcher Zeitung, 1. August 2020</li>
                        <li>Rohrbach Janick, Reinhard Tobias, Sick Beate, Dürr Oliver (2019): <a href="https://doi.org/10.1016/j.compeleceng.2019.08.003">Bone erosion scoring for rheumatoid arthritis with deep convolutional neural networks</a>, Computers & Electrical Engineering 2019; 78:472–81</li>
                        <li>Reinhard Fabian: <a href="https://hrtoday.ch/de/article/einfach-tun-knowing-learning-doing-gap">Einfach tun!</a>, Interview HR Today, 5. November 2019</li>
                        <li>Reinhard Fabian: <a href="https://www.oss-studie.ch/open-source-studie-2018.pdf">OneGov Cloud – Government as a Platform</a>, Fachbeitrag Source Studie Schweiz 2018</li>
                        <li>Reinhard Tobias (2010): <a href="https://doi.org/10.5167/uzh-43247">Complexity Management in Graphical Models</a>, Doktorarbeit, Universität Zürich</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="large-7 large-offset-1 medium-9 medium-offset-1 cell">
                    <h3>Unser Standort</h3>
                    <p>Wir entwickeln Software mitten in der Schweiz in der Stadt Luzern.</p>
                    <p>Seantis AG<br />
                       Pilatusstrasse 3<br />
                       CH-6003 Luzern
                    </p>
                    <p>
                        <i class="fas fa-phone"></i>+41 41 511 22 50<br />
                        <i class="fas fa-envelope"></i><a href="mailto:info@seantis.ch">info@seantis.ch</a>
                    </p>
                    <p><strong>Unser Eingang befindet sich im Innenhof. Die Zugänge zum Innenhof befinden sich an der Morgartenstrasse 4 bzw. an der Frankenstrasse 4.</strong></p>
                </div>
            </div>
        </div>
        <div class="image-band">
            <div class="grid-container">
                    <div class="grid-x grid-margin-x">
                        <div class="large-12 cell">
                            <iframe width="100%" height="480" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d958.039178639595!2d8.307781812648205!3d47.04969783586175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478ffb9f0566897f%3A0x74305e74a84884a8!2sseantis%20gmbh!5e1!3m2!1sde!2sch!4v1567602724515!5m2!1sde!2sch" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if this.children %}
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="large-7 large-offset-1 cell">
                    <div class="subnavigation">
                        <ul class="vertical menu">
                            {% for child in this.children if not child.hidden %}
                                {% if not child.hidden %}
                                    <li><a href="{{ child.path }}">{{ child.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
