{% extends "layout.html" %}
{% from "macros/team.html" import render_team %}
{% block content %}

    <div class="main-content">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="large-5 large-offset-1 cell">
                    <div id="intro">
                        <h1>Data Driven Web Applications</h1>
                        <p>Wir entwickeln Webapplikationen für die <a href="">medizinische Forschung</a>, <a href="">die öffentliche Verwaltung</a> sowie für die <a href="">Aviatik</a>.</p>
                        <p>Bei unseren Projekten geht es um die Verarbeitung und Aufbereitung komplexer Daten. Wir sorgen für die einfache und korrekte Erfassung der Daten, deren statistische Auswertung und Visualisierung.</p>
                    </div>
                </div>
            </div>
        </div>

        Offen für neue Herausforderungen suchen wir in enger Zusammenarbeit mit unseren Kunden neue Wege. Möglich macht dies ein vielseitiges Team mit breitem Know-how und mehr als zehn Jahren Erfahrung in der Entwicklung von Webapplikationen und Internetservices. Für unsere Webapplikationen durften wir [Preise und Auszeichnungen](https://www.seantis.ch/portrait/awards) entgegennehmen.

        Agile ist für uns ein Mindset. [Agile als Grundeinstellung](https://www.seantis.ch/portrait/agile-softwareentwicklung) prägt unser Denken und Handeln. Hypothesen für neue Geschäftsideen und neuste Technologien testen wir mit unseren [Ventures](https://www.seantis.ch/portrait/ventures).

        {{ render_team() }}

    </div>

        ### Team



        - **Fabian Reinhard**
          M A [UZH](http://www.uzh.ch/)
          Managing Partner
          Solution Architect
          [fabian.reinhard@seantis.ch](mailto:fabian.reinhard@seantis.ch)
          [[PGP Public Key](https://www.seantis.ch/portrait/pgp-keys/58C1BF15.asc)]
        - **Dr. Tobias Reinhard**
          dipl. inform. [UZH](http://www.uzh.ch/)
          Partner
          Software Engineer
          [tobias.reinhard@seantis.ch](mailto:tobias.reinhard@seantis.ch)
          [[PGP Public Key](https://www.seantis.ch/portrait/pgp-keys/BDFA49D2.asc)]
        - **Denis Krienbühl**
          Inform. eidg. FA
          Software Engineer
          [denis.krienbuehl@seantis.ch](mailto:denis.krienbuehl@seantis.ch)
          [[PGP Public Key](https://www.seantis.ch/portrait/pgp-keys/A4FE6299.asc)] 
        - **Marc Sommerhalder**
          dipl. Ing. FH, B A
          Software Engineer
          [marc.sommerhalder@seantis.ch](mailto:marc.sommerhalder@seantis.ch)
          [[PGP Public Key](https://www.seantis.ch/portrait/pgp-keys/C2FE713E.asc)] 

        Ein direkter Draht zur Universität Zürich eröffnet uns den Zugang zu einem grossen Pool an Know-how. Unser Antrieb sind interessante Projekte, welche unsere Kunden und uns selbst weiterbringen. Mit unseren langjährigen Kunden pflegen wir offene und vertrauensvolle Beziehungen.

        Wir entwicklen Webapplikationen mit den besten [Open Source (Web-)Technologien](https://www.seantis.ch/portrait/open-mind-open-source). Unseren Mitarbeitenden («Hackers») bieten wir ein optimales Arbeitsumfeld: «[We support the Hacker Pledge](https://www.seantis.ch/blog/we-support-the-hacker-pledge)»

        <iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ch/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;aq=&amp;sll=47.038829,8.287943&amp;sspn=0.034687,0.052485&amp;ie=UTF8&amp;hq=&amp;t=h&amp;ll=47.051115,8.306624&amp;spn=0.002481,0.003433&amp;z=18&amp;output=embed">
        </iframe>

        ---
        portlet: ![swiss made software](/static/img/swiss_made.gif)


        <div class="listing team">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="large-10 large-offset-1 cell">
                        <h4><small>Wir machen es möglich</small></h4>
                        <h3>Unser Team</h3>
                    </div>
                </div>
                <div class="grid-x grid-padding-x" data-equalizer data-equalize-on="medium">
                    <div class="large-5 cell large-offset-1">
                        <div class="card" data-equalizer-watch>
                            <img src="{{ '/static/img/team/Fabian-Reinhard.jpg'|url }}" alt="Fabian Reinhard">
                            <div class="card-section">
                                <h4>Fabian Reinhard</h4>
                                <p>M A UZH</p>
                                <p><strong>Managing Partner<br />
                                    Solution Architect</strong>
                                </p>
                                <p class="bio">Fabian studierte Politikwissenschaften, VWL und Allgemeines Staatsrecht an der <a href="">Universität Zürich</a> und hat sich an der <a href="">Harvard University</a> weitergebildet. Fabian entwickelt Ideen und schreibt Konzepte und wenn immer möglich selbst Programmcode um nicht die technische Bodenhaftung zu verlieren und zu sehr auf der konzeptionellen Ebene zu schweben.</p>
                                <p>
                                    <ul>
                                        <li>Hermes 5 Foundation</li>
                                        <li>ITIL V3 Foundation</li>
                                    </ul>
                                <p>
                                    <a href="mailto:fabian.reinhard@seantis.ch"><i class="far fa-envelope"></i>fabian.reinhard@seantis.ch<br /></a>
                                    <a href="https://www.seantis.ch/portrait/pgp-keys/58C1BF15.asc"><i class="fas fa-key"></i>PGP Public Key</a><br />
                                    <a href="https://github.com/freinhard"><i class="fab fa-github"></i>Github</a><br />
                                    <a href="https://keybase.io/freinhard"><i class="fab fa-keybase"></i>Keybase</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="large-5 cell">
                        <div class="card" data-equalizer-watch>
                            <img src="{{ '/static/img/team/Tobias-Reinhard.jpg'|url }}" alt="Tobias Reinhard">
                            <div class="card-section">
                                <h4>Dr. Tobias Reinhard</h4>
                                <p>dipl. inform. UZH</p>
                                <p><strong>Partner<br />
                                    Software Engineer</strong>
                                </p>
                                <p class="bio">Tobias studierte Informatik an der <a href="">Universität Zürich</a> und promovierte ebenda im Bereich Requirements Engineering. Er ist verantwortlich für die Bereiche technische Spezifikation sowie Entwicklung. Tobias ist der Kopf hinter unserer Plattform <a href="http://www.healthdata.ai">HealthData.ai</a>. Tobias programmiert selbst, weil es für ihn keine Theorie ohne Praxis und vice versa geben kann.
                                <p>
                                    <a href="mailto:tobias.reinhard@seantis.ch"><i class="far fa-envelope"></i>tobias.reinhard@seantis.ch<br /></a>
                                    <a href="https://www.seantis.ch/portrait/pgp-keys/BDFA49D2.asc"><i class="fas fa-key"></i>PGP Public Key</a><br />
                                    <a href="https://github.com/treinhard"><i class="fab fa-github"></i>Github</a><br />
                                    <a href="https://keybase.io/treinhard"><i class="fab fa-keybase"></i>Keybase</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x" style="padding-top: 60px;" data-equalizer data-equalize-on="medium">
                    <div class="large-5 cell large-offset-1">
                        <div class="card" data-equalizer-watch>
                            <img src="{{ '/static/img/team/Denis-krienbuehl.jpg'|url }}" alt="Denis Krienbühl">
                            <div class="card-section">
                                <h4>Denis Krienbühl</h4>
                                <p>Inform. eidg. FA</p>
                                <p><strong>Software Engineer</strong></p>
                                <p class="bio">Denis hat einen Lehrabschluss als Informatiker. Denis ist als Softwarearchitekt und als Full Stack Developer verantwortlich für die Entwicklung der <a href="http://www.onegovcloud.ch">OneGov Cloud</a>.
                                    Dank konsequentem Einsatz von DevOps Tools orchestriert und administiert Denis eine Flotte von mehr als 50 Servern. Denis is Mitbegründer und Mitorganisator des <a href="https://www.python-summit.ch">Swiss Python Summit</a>.</p>
                                <p>
                                    <a href="mailto:denis.krienbuehl@seantis.ch"><i class="far fa-envelope"></i>denis.krienbuehl@seantis.ch<br /></a>
                                    <a href="https://www.seantis.ch/portrait/pgp-keys/A4FE6299.asc"><i class="fas fa-key"></i>PGP Public Key</a><br />
                                    <a href="https://github.com/href"><i class="fab fa-github"></i>Github</a><br />
                                    <a href="https://keybase.io/href"><i class="fab fa-keybase"></i>Keybase</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="large-5 cell">
                        <div class="card" data-equalizer-watch>
                            <img src="{{ '/static/img/team/Marc-Sommerhalder.jpg'|url }}" alt="Marc Sommerhalder">
                            <div class="card-section">
                                <h4>Marc Sommerhalder</h4>
                                <p>dipl. Ing. FH, B A</p>
                                <p><strong>Software Engineer</strong></p>
                                <p class="bio">Marc studierte Elektrotechnik an der <a href="http://www.zhaw.ch">Zürcher Hochschule für Angewandte Wissenschaften (ZHAW)</a> und anschliessend Kulturwissenschaften an der <a href="http://www.unilu.ch">Universität Luzern</a>. Er ist verantwortlich für die Weiterentwicklung von <a href="http://www.mycontrol.aero">myControl.aero</a>. Vor zwei Jahren hat Marc auch noch ein Psychologiestudium angefangen, denn man hat nie ausgelernt.
                                </p>
                                <p>
                                    <a href="mailto:marc.sommerhalder@seantis.ch"><i class="far fa-envelope"></i>marc.sommerhalder@seantis.ch<br /></a>
                                    <a href="https://www.seantis.ch/portrait/pgp-keys/C2FE713E.asc"><i class="fas fa-key"></i>PGP Public Key</a><br />
                                    <a href="https://github.com/msom"><i class="fab fa-github"></i>Github</a><br />
                                    <a href="https://keybase.io/msom"><i class="fab fa-keybase"></i>Keybase</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
