{% extends "layout.html" %}
{% block content %}

    <div class="head">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                    <h1>Suchresultate</h1>
                    <p class="lead">Wir hoffen Sie finden, was Sie gesucht haben und vielleicht sogar noch mehr ... 🕵🏻‍♀️</p>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="large-9 large-offset-1 medium-9 medium-offset-1 cell">
                <div id="search_content">
                    <div id="tipue_search_content"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    $(document).ready(function() {
        $('#tipue_search_input').tipuesearch({
          'mode': 'json',
          'contentLocation': "{{ tipue_search_content()|url }}"
        });
    });
{% endblock %}
