{% extends "layout.html" %}
{% block content %}
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="large-9 large-offset-1 cell">
                <div id="search_content">
                    <h1>Suchresultate</h1>
                    <div id="tipue_search_content"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    $(document).ready(function() {
        $('#tipue_search_input').tipuesearch({
          'mode': 'json',
          'contentLocation': "{{ tipue_search_content()|url }}"
        });
    });
{% endblock %}
