{% extends "layout.html" %}
{% from "macros/team.html" import render_team %}
{% block content %}

    <div id="hero" data-aos="fade-up">
        <div class="grid-container">
            <div id="splash">
                <div class="grid-x grid-margin-x">
                    <div class="large-5 large-offset-6 medium-offset-5 medium-6 cell">
                        <div id="square">
                            <h3>Lean Startup</h3>
                            <p>Du hast eine ganz neue digitale Produktidee oder planst ein digitales Startup. Gemeinsam konzeptioniern und realisieren wir einen Prototype um deine Geschäftsidee unter realen Bedingungen zu testen.</p>
                            <p><a href="#solutions step">&rarr; Zum Vorgehen</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                    <div class="intro">
                        <h1>Meine Startup-Idee einfach ausprobieren</h1>
                        <h3>Geschäftsidee als Hypothese</h3>
                        <p>Alles beginnt mit einer Idee. Die Idee für mein Startup ist eine Hypothese. Ich vermute, dass die Welt auf genau meine Geschäftsidee gewartet hat. Das ist eine gewagte Behauptung. Ist meine Hypothese richtig oder falsch? Das kann ich erst beurteilen, wenn ich diese getestet habe.</p>
                        <h3>Experimentieren in iterativen Zyklen</h3>
                        <p>Mit der Methode des «Lean Startup» kann ich testen, wie gut meine Geschäftsidee wirklich ist. Es braucht dazu keine jahrlange Planung. Stattdessen werden so früh wie nur möglich kundenseitiges Feedbacks abgeholt.  Die gewonnenen Erkenntnisse fliessen in den nächsten iterativen Zyklus ein. So wird das Geschäftsmodell stetig verbessert und validiert.</p>
                        <h3>Zeit und Kosten</h3>
                        <ul>
                            <li>Zeitbedarf: 6-8 Wochen</li>
                            <li>Kosten: CHF 37'500</li>
                            <li>Kontakt: Fabian Reinhard, <a href="mailto:fabian.reinhard@seantis.ch">fabian.reinhard@seantis.ch</a>, +41 41 511 22 50</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-container">
            <div class="grid-x grid-padding-x" data-aos="fade-up">
                <div class="cell">
                    <div class="dotted">
                        <img class="full" src="{{ '/static/img/sketches.png'|url }}" alt="Gartner Lean Agile">
                    </div>
                </div>
            </div>
        </div>

        <div id="solutions step">
            <div class="listing team products steps" data-aos="fade-up">
                <div class="grid-container">
                    <div class="grid-x grid-padding-x" data-equalizer data-equalize-on="small">
                        <div class="large-4 medium-4 cell">
                            <div class="card" style="padding: 20 0 0 0;" data-equalizer-watch>
                                <div class="card-section">
                                    <h3>Ideation Workshop 💡</h3>
                                    <p>Ausgehend von deiner Geschäftsidee erarbeiten wir im ersten Workshop gemeinsam die Grundlagen für die Realisierung eines Prototyps. Dazu werden die Use Cases (User Stories) strukturiert dokumentiert sowie Mockups skizziert; alles so konkret wie nur möglich.</p>
                                </div>
                            </div>
                        </div>
                        <div class="large-4 medium-4 cell">
                            <div class="card" data-equalizer-watch>
                                <div class="card-section">
                                    <h3>Rapid Prototyping 🏃🏻‍♂️</h3>
                                    <p>Im ersten Sprint wird der Prototyp realisiert. Obwohl ein Prototyp keineswegs voll funktionsfähig ist, sieht dieser real genug aus, dass potenzielle Nutzer mit ihm interagieren und Feedback geben können.</p>
                                </div>
                            </div>
                        </div>
                        <div class="large-4 medium-4 cell">
                            <div class="card" data-equalizer-watch>
                                <div class="card-section">
                                    <h3>Minimum Viable Product 👨🏻‍💻</h3>
                                    <p>Im zweiten Sprint wird aus dem Prototyp ein Minimum Viable Product. Das Minimum Viable Product (MVP) - wörtlich «minimal überlebensfähiges Produkt» - ist die erste minimal funktionsfähige Version. Das MVP kann mit realen Kunden getestet werden.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="award">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                        <h4><small>Preisgekrönte Plattform</small></h4>
                        <h3>Best of Swiss Web</h3>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-7 large-offset-1 medium-10 medium-offset-1 cell">
                        <p>Zusammen mit unserer Partnerfirma <a href="http://www.netcetera.ch">Netcetera</a> haben wir im Auftrag der <a href="http://www.projuventute.ch">Stiftung Pro Juventute</a> die Plattform <a href="http://feriennet.projuventute.ch">Feriennet</a> entwickelt. Ferienaktivitäten für Kinder können mit der Plattform einfach geplant, koordiniert, und abgewickelt werden. Das bedeutet viel Freude für die Kinder und weniger Stress für deren Eltern während den Schulferien. Auch die Jury des <a href="http://www.bestofswissweb.ch">Best of Swiss Web</a> Award hat diese clevere Planungs- und Buchungsplattform im April 2019 honoriert: Feriennet gewinnt Silber in der Kategorie Public Affairs.</p>
                        <p><a href="{{ '/news/pro-juventute-feriennet-best-of-swiss-web/'|url }}">&rarr; mehr erfahren</a></p>
                    </div>
                </div>
                <div class="grid-x grid-padding-x" data-aos="fade-up">
                    <div class="cell">
                        <div class="dotted">
                            <img class="full" src="{{ '/static/img/bosw.jpg'|url }}" alt="Best of Swiss Web 2019">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
