{% extends "layout.html" %}
{% block content %}
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="large-9 large-offset-1 cell">
                <div class="h2"><small>{{ this.pub_date|dateformat }}</small></div>
                <h1>{{ this.title }}</h1>
                <p class="lead">{{ this.description }}</p>
                {% for image in this.attachments.images.all() %}
                    <div>
                        <img src="{{ image.thumbnail(1600)|url }}" alt="">
                    </div>
                {% endfor %}
                <h2>Kunde</h2>
                <p>{{ this.customer }}</p>
                <h2>Aufgabe</h2>
                {{ this.task }}
                <h2>Umsetzung</h2>
                {{ this.solution }}
                <h2>Kundennutzen</h2>
                {{ this.benefit }}
                {% if this.links %}
                    <h2>Links</h2>
                    {{ this.links }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
